* {
    padding: 0px;
    margin: 0px;
}


body {
    background-image: url(https://s1.1zoom.me/b5050/963/Texture_Boards_Wooden_478676_3840x2400.jpg);
    background-size: 100vw;
    background-attachment:fixed;
    background-size:cover}


.contenedorNavbar {

    height: 100px;
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}


ul {
    display: flex;
    flex-direction: row;
}


li {
    list-style-type: none;
    font-weight: lighter;
    font-size: 22px;
    border: 1px rgb(19, 19, 19) solid;
    width: 155px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 3px;
    text-align: center;
    background-color: rgba(240, 246, 240, 0);
    /* justify-content: center;
    align-items: center; */
    padding-top: 10px;
}


a {
    text-decoration: none;
    font-size: 20px;
    width: 110%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logosrc {
    display: flex;
    width: 160px;
    height: 110px;
}



.gallery {
    display: flex;
    width: 99%;
    height: 84vh;
    margin: 0 auto;

}

.container_img {
    min-width: 277px;
    object-fit: cover;
    flex: 1;
    transition: .3s flex;

}

.container_img:hover {
    flex: 3;
}



.derech {
    left: 1px;
    position: absolute;
    bottom: 40px;
    color: white;
    left: 20px;
}